# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# misc
.idea
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

#logs
*.log*

#amplify
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/backend/awscloudformation/build

build/
dist/
